<section id="opening">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="para-wrap">
                <p>Thanks for confirming your email.</p>
              </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>{{error}}</p>
            </div>
        </div>
    </div>
</footer>
